init_config:
instances:
{{- if not .Resources }} []
{{- end }}
{{- range .Resources }}
  - host: {{ .Host | quote }}
    port: {{ .Port }}
    username: {{ $.Secrets.username | quote }}
    password: {{ $.Secrets.password | quote }}
{{- end }}
