init_config:

instances:
{{- $found := false }}
{{- range .Resources }}
  {{- if index .Metadata "IsWriter" }}
  {{- $found = true }}
  - host: {{ .Host | quote }}
    port: {{ .Port }}
    dbm: true
    username: "ENC[monitoring/mysql;username]"
    password: "ENC[monitoring/mysql;password]"
    aws:
      instance_endpoint: {{ .Host | quote }}
      region: ap-northeast-1
    tags:
      - "role:writer"
      - {{ printf "cluster:%s" (index .Metadata "ClusterName") | quote }}
  {{- end }}
{{- end }}
{{- if not $found }} []
{{- end }}
