init_config:

instances:
{{- if not .Resources }} []
{{- end }}
{{- range .Resources }}
  - host: {{ .Host | quote }}
    port: {{ .Port }}
    dbm: true
    username: "ENC[monitoring/mysql;username]"
    password: "ENC[monitoring/mysql;password]"
    aws:
      instance_endpoint: {{ .Host | quote }}
      region: ap-northeast-1
    tags:
      - {{ printf "cluster:%s" (index .Metadata "ClusterName") | quote }}
      - {{ printf "db_instance:%s" (index .Metadata "DBInstanceID") | quote }}
      - "role:{{ if index .Metadata "IsWriter" }}writer{{ else }}reader{{ end }}"
    {{- if index .Tags "env" }}
      - {{ printf "env:%s" (index .Tags "env") | quote }}
    {{- end }}
{{- end }}
