init_config:

instances:
{{- $found := false }}
{{- range .Resources }}
  {{- if and (index .Metadata "RoleKnown") (index .Metadata "IsPrimary") }}
  {{- $found = true }}
  - host: {{ .Host | quote }}
    port: {{ .Port }}
    username: "ENC[monitoring/redis;username]"
    password: "ENC[monitoring/redis;password]"
    tags:
      - "role:primary"
      - {{ printf "cluster:%s" (index .Metadata "ClusterName") | quote }}
  {{- end }}
{{- end }}
{{- if not $found }} []
{{- end }}
