init_config:

instances:
{{- range .Resources }}
  - host: {{ .Host }}
    port: {{ .Port }}
    username: "%%env_REDIS_USERNAME%%"
    password: "%%env_REDIS_PASSWORD%%"
    tags:
      - "instancetag:bar"
    {{- if index .Tags "awsenv" }}
      - env:{{ index .Tags "awsenv" }}
    {{- end }}
    {{- if index .Tags "service" }}
      - team:{{ index .Tags "service" }}
    {{- end }}
{{- end }}
