init_config:
instances:
{{- if not .Resources }} []
{{- end }}
{{- range .Resources }}
{{- $secret := printf "production/%s/redis/monitoring" .Tags.team }}
  - host: {{ .Host | quote }}
    port: {{ .Port }}
    username: {{ printf "ENC[%s;username]" $secret | quote }}
    password: {{ printf "ENC[%s;password]" $secret | quote }}
    tags:
      - {{ printf "cacheclusterid:%s" (index .Metadata "CacheClusterID") | quote }}
{{- end }}
